<div class="padding">
    <div class="col-lg-6">
        <div class="card"> <img class="" src="https://i.imgur.com/a9sHoeY.jpg" alt="Card image cap">
            <div class="card-img-overlay" style="height:110px;">
                <h3 class="card-title text-white m-b-0 dl"><%=result.city.name%></h3> <small class="card-text text-white font-light">Sunday 15 march</small>
            </div>
            <div class="card-body weather-small">
                <div class="row">
                    <div class="col-8 b-r align-self-center">
                        <div class="d-flex">
                            <div class="display-6 text-info"><i class="mdi mdi-weather-pouring"></i></div>
                            <div class="m-l-20">
                                <h1 class="font-light text-info m-b-0"><%=result.list[0].temp.day%><sup>0</sup></h1> <small><%=result.list[0].weather[0].description%></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        <h1 class="font-light m-b-0"><%=result.list[0].temp.night%><sup>0</sup></h1> <small>Tonight</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>